/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "toroman";
  src: url('../fonts/toroman.ttf') format('truetype');
}

/* ---- game styles ---- */

body {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 80vw;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3rem;
  max-height: 700px;
  max-width: 800px;
  text-align: center;
}

.splash {
}

.splash img {
  width:75%;
  height:auto;
}

.title-img {
  /* border: 1px solid yellow; */
  height:50%;
  padding: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: toroman;
  display: block;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 1px solid black;
  background-color:white;
  border-radius: 1.5rem;
}

.button:hover {
  color:red;
  cursor: pointer;
}

.btn-container {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
}

.game-screen {
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
}

.top img {
  margin-left: 10px;
  height:100px;
}

.order-box {
  border:1px solid black;
  display: flex;
  flex-wrap: wrap;    
  width: 250px;
}

@media (max-width: 992px) {
  .order-box {  
    width: 500px;
  }
}


.order-box p {
  margin: 0;
}

.order-box img {
  height:40px;
}

.order-box h2 {
  margin: 0px;
}

.order-box article {

}

.topping-order {
  display: flex;
  align-items: center;
}

.topping-img {
  background-color: red;
  height: 25px;
  width: 25px;
}

.score-box {
  border:1px solid black;
  display: flex;
}

.score-box h2 {
  margin: 10px
}

#canvas {
  max-width: 100%;
  width: 100%;
}

.game-over {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.game-over img {
  width:50%;
  margin-top: 10%;
}

.game-over h2 {    
  font-size: 2rem;
  margin: 1rem;
}
