/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "toroman";
  src: url('../fonts/toroman.ttf') format('truetype');
}

/* ---- game styles ---- */

body {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  body {
    align-items: start;
  }
}

.container {
  width: 80vw;
  background-color: rgba(255,255,255,0.8);
  border-radius: 3rem;
  max-width: 800px;
  text-align: center;
}

@media (max-width: 450px) {
  .container {  
    /* width:100vw; */
    border-radius: 0;
    height: 100vh;
  }
}

h1,h2{
  font-family: toroman;
}

h1 {
  font-size: 8rem;
}

.rule-screen h3 {
  font-size: 1.5rem;
  margin: 5px;
}

.splash-screen {
  height:80vh;
}

@media (max-width: 450px) {
  .splash-screen {
    width:80vw;
    height:100vh;
  }
}

.title-img {
  width:75%;
  height:auto;
}

.title-container {
  height:50%;
  padding: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .title-container {
    height:30%;
  }
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: toroman;
  display: block;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: 1px solid black;
  background-color:white;
  border-radius: 1.5rem;
}

.button:hover {
  color:red;
  cursor: pointer;
}

.btn-container {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-height: 750px) {
  .btn-container {
    margin-top: 0;
  }
}

@media (max-width: 450px) {
  .game-screen {
  /* height:80vh; */
    width:100vw;
    
  }
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  flex-wrap: wrap;
}

.top img {
  margin-left: 10px;
  height:100px;
}


@media (max-width: 450px) {
  .top img {  
    height: 65px;
  }
}

.order-box {
  display: flex;
  flex-wrap: wrap;    
  width: 250px;
}

@media (max-width: 906px) {
  .order-box {  
    width: 500px;
  }
}


.order-box p {
  margin: 0;
}

.order-box img {
  height:40px;
}

.order-box h2 {
  margin: 0px;
}

.order-box article {

}

.topping-order {
  display: flex;
  align-items: center;
}

.topping-img {
  background-color: red;
  height: 25px;
  width: 25px;
}

.score-box {
  display: flex;
}

.score-box h2 {
  margin: 10px
}

#canvas {
  max-width: 100%;
  width: 80%;
}

@media (max-width: 450px) {
  #canvas {
    width: 100%;
  }
}

@media (min-height: 700px) {
  #canvas {
    width: 100%;
  }
}

.arrow-container {
  height: 75px;
  display: flex;
  justify-content: space-between;
}

#touch {
  display: block;
  width: 100vw;
  padding: auto;
}


.game-over {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height:80vh;
}


@media (max-width: 450px) {
  .game-over {
    height:100vh;
  }
}

#one-line {
  display: none;
}

@media (max-height: 800px) {
  #one-line {
    display: inline;
  }
  #two-line {
    display: none;
  }
}



.game-over img {
  width:50%;
  margin-top: 10%;
}

.game-over h2 {    
  font-size: 2rem;
  margin: 1rem;
}

.win-screen h2 {
  font-size: 2rem;
  margin: 1rem;
}


.win-screen {
  height:80vh;
}

@media (max-width: 450px) {
  .win-screen {
    height:100vh;
  }
}

.rotate {
  transform: rotate(180deg);
}

.win-screen img {
  width:50%;
  margin-top: 10%;
}

.topping-list {
  display: flex;
  justify-content: center;
}

.topping-list img{
  height:40px;
}

@media (max-width: 450px) {
  .topping-list img {
    height: 25px;
  }
}

.rule-screen p {
  font-size: 1.5rem;
  margin: 0.5rem;
}

@media (max-width: 450px) {
  .rule-screen p {
    font-size: 1.0rem;
  }
}

.title-rule {
  width:40%;
  height:auto;
}

@media (max-width: 450px) {
  .title-rule {
    width:50%;
    height:auto;
  }
}

.arrow-icon {
  font-family: fontawesome;
  font-size: 5rem;
  font-style: normal;
}

.arrow {
  width: 20%;
}

.title-container-rule {
  height:50%;
  padding: 5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .title-container-rule {
    height:15%;
  }
}

.menu-icon {
  width: 50%;
}

@media (max-height: 800px) {
  .menu-icon {
    width: 30%;
  }
}


@media (max-height: 750px) {
  .title-container-rule {
    padding: 3%;
  }
}

@media (max-height: 750px) {
  .topping-list img {
    height: 25px;
  }
}


@media (max-height: 750px) {
  .rule-screen p {
    font-size: 1.0rem;
  }
}


@media (max-height: 750px) {
  .rule-screen p {
    font-size: 1.0rem;
  }
}

